@page "/UpcomingGrandPrix"
@using Data


<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
    rel="stylesheet"
    as="style"
    onload="this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#111418] dark group/design-root overflow-x-hidden" style='font-family: "Space Grotesk", "Noto Sans", sans-serif;'>
        <div class="layout-container flex h-full grow flex-col">
            <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#282f39] px-10 py-3">
                <div class="flex items-center gap-4 text-white">
                    <div class="size-4">
                        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M39.475 21.6262C40.358 21.4363 40.6863 21.5589 40.7581 21.5934C40.7876 21.655 40.8547 21.857 40.8082 22.3336C40.7408 23.0255 40.4502 24.0046 39.8572 25.2301C38.6799 27.6631 36.5085 30.6631 33.5858 33.5858C30.6631 36.5085 27.6632 38.6799 25.2301 39.8572C24.0046 40.4502 23.0255 40.7407 22.3336 40.8082C21.8571 40.8547 21.6551 40.7875 21.5934 40.7581C21.5589 40.6863 21.4363 40.358 21.6262 39.475C21.8562 38.4054 22.4689 36.9657 23.5038 35.2817C24.7575 33.2417 26.5497 30.9744 28.7621 28.762C30.9744 26.5497 33.2417 24.7574 35.2817 23.5037C36.9657 22.4689 38.4054 21.8562 39.475 21.6262ZM4.41189 29.2403L18.7597 43.5881C19.8813 44.7097 21.4027 44.9179 22.7217 44.7893C24.0585 44.659 25.5148 44.1631 26.9723 43.4579C29.9052 42.0387 33.2618 39.5667 36.4142 36.4142C39.5667 33.2618 42.0387 29.9052 43.4579 26.9723C44.1631 25.5148 44.659 24.0585 44.7893 22.7217C44.9179 21.4027 44.7097 19.8813 43.5881 18.7597L29.2403 4.41187C27.8527 3.02428 25.8765 3.02573 24.2861 3.36776C22.6081 3.72863 20.7334 4.58419 18.8396 5.74801C16.4978 7.18716 13.9881 9.18353 11.5858 11.5858C9.18354 13.988 7.18717 16.4978 5.74802 18.8396C4.58421 20.7334 3.72865 22.6081 3.36778 24.2861C3.02574 25.8765 3.02429 27.8527 4.41189 29.2403Z"
                            fill="currentColor"
                            ></path>
                        </svg>
                    </div>
                    <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Apex Racing</h2>
                </div>
                <div class="flex flex-1 justify-end gap-8">
                    <div class="flex items-center gap-9">
                        <a class="text-white text-sm font-medium leading-normal" href="#">Home</a>
                        <a class="text-white text-sm font-medium leading-normal" href="#">News</a>
                        <a class="text-white text-sm font-medium leading-normal" href="#">Races</a>
                        <a class="text-white text-sm font-medium leading-normal" href="#">Drivers</a>
                        <a class="text-white text-sm font-medium leading-normal" href="#">Teams</a>
                        <a class="text-white text-sm font-medium leading-normal" href="#">Standings</a>
                    </div>
                    <button
                    class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#282f39] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
                    >
                        <div class="text-white" data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                            </svg>
                        </div>
                    </button>
                    <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDyiU9oPshvHkUIuQbafwIEtlYtPJPmnUEhHA2dasYPGZYn2uWdCgzE811NvL9xVAZQTw7kuLwXISLl6LHt-uHWB4VNi4QiBtJnOGIXTDpK9-S64ShEiQnQQn0FdWsthojkk2xto1XWzHE3ftBWLbkO83-B8HTR8qYmqeBEhq_6sg5QWn-JzjzVCLcONJEtcg3f6ZD35_p7djY4vxuYwG87kp1sjMuLsHyF94gKByGggkWrWn5YI6bJV8ehHB4Msc11nVeOFi6W3o0");'
                    ></div>
                </div>
            </header>
            <div class="px-40 flex flex-1 justify-center py-5">
                <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                    <div class="container">
                        <div class="[480px]:px-4 [480px]:py-3">
                            <div
                            class="bg-cover bg-center flex flex-col justify-end overflow-hidden bg-[#111418] [480px]:rounded-xl min-h-[218px]"
                            style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url(@Photo);'
                            >
                                <div class="flex p-4"><p class="text-white tracking-light text-[28px] font-bold leading-tight" style="text-shadow: 0 2px 8px rgba(0,0,0,0.8), 0 0 2px #000;">@GrandPrixName</p></div>
                            </div>
                        </div>
                    </div>
                    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Event Details</h2>
                    <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Race Name</p>
                            <p class="text-white text-sm font-normal leading-normal">@GrandPrixName</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Circuit Name</p>
                            <p class="text-white text-sm font-normal leading-normal">@GrandPrixName</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Location</p>
                            <p class="text-white text-sm font-normal leading-normal">@GrandPrixName</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Date and Time</p>
                            <p class="text-white text-sm font-normal leading-normal">May 26, 2024, 3:00 PM CEST</p>
                        </div>
                    </div>
                    <div class="flex gap-4 py-6 px-4">
                        <div class="flex grow basis-0 flex-col items-stretch gap-4">
                            <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#282f39]">
                                <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">12</p>
                            </div>
                            <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Days</p></div>
                        </div>
                        <div class="flex grow basis-0 flex-col items-stretch gap-4">
                            <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#282f39]">
                                <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">08</p>
                            </div>
                            <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Hours</p></div>
                        </div>
                        <div class="flex grow basis-0 flex-col items-stretch gap-4">
                            <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#282f39]">
                                <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">35</p>
                            </div>
                            <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Minutes</p></div>
                        </div>
                        <div class="flex grow basis-0 flex-col items-stretch gap-4">
                            <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#282f39]">
                                <p class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">17</p>
                            </div>
                            <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Seconds</p></div>
                        </div>
                    </div>
                    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Circuit Information</h2>
                    <div class="flex px-4 py-3">
                        <div
                        class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl object-cover"
                        style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB-CA0KPNO02qBbF0YGdVitlrES2uylZp1J9ERjmUuJjOjZhb2MgLNdc3ywwuMhsjaeIfSsHjBvG0mQtxlIOzGVyR6PY6lqQsQRkGe8OMeuj2t6p4UU8oNv6yG3YgbNRK1ztbniaUAbyrSvt8EFHlU5gP6LAlUO8fvh3dmp6uZ2pyTqwBd7otIsHJZSFiA36eUMm70fUuQAcxV-uzy7RuaMsWm9aPFLX5VEBGddMG0h87hafmUNMRi6NVGYfAdX9QBw-MbTjpW6ips");'
                        ></div>
                    </div>
                    <div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Lap Length</p>
                            <p class="text-white text-sm font-normal leading-normal">3.337 km (2.074 mi)</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Race Distance</p>
                            <p class="text-white text-sm font-normal leading-normal">260.520 km (161.880 mi)</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">Number of Laps</p>
                            <p class="text-white text-sm font-normal leading-normal">78</p>
                        </div>
                        <div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#3b4554] py-5">
                            <p class="text-[#9da8b9] text-sm font-normal leading-normal">DRS Zones</p>
                            <p class="text-white text-sm font-normal leading-normal">2</p>
                        </div>
                    </div>
                    <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Weather Forecast</h2>
                    <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                        <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4554] bg-[#1c2027] p-4 flex-col">
                            <div class="text-white" data-icon="Sun" data-size="24px" data-weight="regular">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                    <path
                                    d="M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z"
                                    ></path>
                                </svg>
                            </div>
                            <div class="flex flex-col gap-1">
                                <h2 class="text-white text-base font-bold leading-tight">Friday</h2>
                                <p class="text-[#9da8b9] text-sm font-normal leading-normal">Thermometer: 22°C / 72°F, Wind: 15 km/h, Droplet: 10%</p>
                            </div>
                        </div>
                        <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4554] bg-[#1c2027] p-4 flex-col">
                            <div class="text-white" data-icon="Cloud" data-size="24px" data-weight="regular">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                    <path
                                    d="M160,40A88.09,88.09,0,0,0,81.29,88.67,64,64,0,1,0,72,216h88a88,88,0,0,0,0-176Zm0,160H72a48,48,0,0,1,0-96c1.1,0,2.2,0,3.29.11A88,88,0,0,0,72,128a8,8,0,0,0,16,0,72,72,0,1,1,72,72Z"
                                    ></path>
                                </svg>
                            </div>
                            <div class="flex flex-col gap-1">
                                <h2 class="text-white text-base font-bold leading-tight">Saturday</h2>
                                <p class="text-[#9da8b9] text-sm font-normal leading-normal">Thermometer: 24°C / 75°F, Wind: 12 km/h, Droplet: 5%</p>
                            </div>
                        </div>
                        <div class="flex flex-1 gap-3 rounded-lg border border-[#3b4554] bg-[#1c2027] p-4 flex-col">
                            <div class="text-white" data-icon="CloudRain" data-size="24px" data-weight="regular">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                                    <path
                                    d="M158.66,196.44l-32,48a8,8,0,1,1-13.32-8.88l32-48a8,8,0,0,1,13.32,8.88ZM232,92a76.08,76.08,0,0,1-76,76H132.28l-29.62,44.44a8,8,0,1,1-13.32-8.88L113.05,168H76A52,52,0,0,1,76,64a53.26,53.26,0,0,1,8.92.76A76.08,76.08,0,0,1,232,92Zm-16,0A60.06,60.06,0,0,0,96,88.46a8,8,0,0,1-16-.92q.21-3.66.77-7.23A38.11,38.11,0,0,0,76,80a36,36,0,0,0,0,72h80A60.07,60.07,0,0,0,216,92Z"
                                    ></path>
                                </svg>
                            </div>
                            <div class="flex flex-col gap-1">
                                <h2 class="text-white text-base font-bold leading-tight">Sunday</h2>
                                <p class="text-[#9da8b9] text-sm font-normal leading-normal">Thermometer: 20°C / 68°F, Wind: 18 km/h, Droplet: 15%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


@code
{
    public string GrandPrixName { get; set; }
    private string Photo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NextGPInfo nextGp = new(DateTime.Now);
        GrandPrixName = nextGp.GetNextGP();
        Photo = await nextGp.GetPhotoUrl();
        Console.WriteLine(Photo);
    }
}